.large-container {
    height: 36rem; /* Ajusta este valor según sea necesario */
  }
  
  @media (min-width: 640px) {
    .large-container {
      height: 48rem; /* Ajusta este valor según sea necesario */
    }
  }
  
  @media (min-width: 1280px) {
    .large-container {
      height: 64rem; /* Ajusta este valor según sea necesario */
    }
  }
  
  @media (min-width: 1536px) {
    .large-container {
      height: 72rem; /* Ajusta este valor según sea necesario */
    }
  }
  
  .seba {
    background-color: white;
    width: 200;
    height: 200;
  }
  
  