/* styles/globals.css o cualquier archivo CSS global */
/* .slider-container-excursion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide-image {
  max-width: 100%;
  height: auto;
} */
